<button ng-click="goToLogin()">Login</button>
<button ng-click="goToRegister()">Register</button>

<ul>
    <li ng-repeat="x in displayArray">
        <div class="display-div">
            <div class="display-body">
                {{x.body}}
            </div>
            <br>
            <ul>
                <li>
                    {{x.username}}
                </li>
                <li ng-hide="!authenticated">
                    <button ng-click="favoritePost(x.postId, x)">Favorite</button>
                </li>
                <li>
                    {{x.favoriteCount}}
                </li>
                <li>
                    {{x.postDate}}
                </li>
                <li ng-show="x.username == authUser">
                    <button ng-click="deletePost(x.postId, x)">Delete thought.</button>
                </li>
            </ul>
        </div>
    </li>
</ul>

<div class="input-div">
    <textarea type="text" placeholder="What's your thought?" ng-model="payload.body"></textarea>

    <br>
    <button ng-click="sendMessage();">Share Thought</button>
    <br>
    <div class="error-response" ng-show="errorResponses">
        <ul>
            <li ng-repeat="x in errorResponses">
                {{x.message}}
            </li>
        </ul>
    </div>
</div>