<div id="main">
    <ul class="thought-list">
        <li ng-repeat="x in displayArray" class="square">
            <div class="display-div">

                <div class="username">
                    <span id="span-user">User: </span>{{x.username}}
                </div>

                <div class="body">{{x.body}}</div>

                <div ng-show="x.username == authUser" class="trash">
                    <span class="fa fa-trash" aria-hidden="true" ng-click="deletePost(x.postId, x)"></span>
                </div>

                <div class="favorites"><span class="fa fa-heart" ng-click="favoritePost(x.postId, x)" aria-hidden="true"></span>{{ x.favoriteCount}}</div>

            </div>
        </li>
    </ul>
</div>


<div class="input-div" ng-hide="!authenticated">
    <div class="area-wrapper">
        <textarea type="text" placeholder="What's your thought?" ng-model="payload.body" class="input"></textarea>

        <button ng-click="sendMessage();" class="send" ng-show="authenticated">Share Thought</button>
        <br>
        <div class="error-response" ng-show="errorResponses">
            <ul>
                <li ng-repeat="x in errorResponses">
                    {{x.error}}
                </li>
            </ul>
        </div>
    </div>
</div>

